html{ scroll-behavior: smooth}
body {padding-top:0}
.bar {height: 8px;margin-bottom:2em;margin-top: 0em;}
.bar .box1 {height: 8px;background-color:#3C3B6E}
.bar .box2 {height: 8px;background-color:#fff}
.bar .box3 {height: 8px;background-color:#B22234}
.display-1 {font-size: 10rem;}
.list-group-item {border: none;}
img.card-img-top{object-fit: contain;
    max-height: 300px;
width: auto;}
.btn-primary{background-color:#3C3B6E;border-color:#3C3B6E}
.btn-primary:hover{background-color:#B22234;border-color:#B22234}
